<h5>Welcome To {{orgName}}</h5>
<pre>
  Hi {{ fullName }}!, We're so happy you have joined with us, excited to begin your journey?, please confirm your email address at {{ email }}, you can tap the button below.
</pre>


<div style="text-align:center;padding: 30px;width:100%;height:100%;background-color:rgb(192, 190, 190);">
   We're so happy you have joined with us, excited to begin your journey?,
   please confirm your email address at {{ email }}, you can tap the button below.
</div>

Thank You,
Tamra Group
</pre>
<br><br>
<img style="height:25px;" src="{{banner}}"/>
