<h5>New Donation for {{title}}</h5>
<pre>
Hi,
there is a new donation for <strong>{{title}}</strong>!

<div style="text-align:center;padding: 30px;width:100%;height:100%;background-color:rgb(192, 190, 190);">
  {{donor}} has sent a donation of
  <h5>{{currency}} {{amount}}</h5>
  Donation has been accepted and recorded in the campaign for the {{title}}
</div>
</pre>
<br><br>
<img style="height:25px;" src="https://media.tmra.io/tmra/production/giving-sadaqah-62414373cf00cca3a830814a-DVed.png"/>